*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229,84,115,0.1);
}
.header-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 500px;
}
.btn-primary{
    background-color: #E55473;
    padding: 10px;
    color: #FFF;
font-size: 15px;
font-weight: 700;
border: 0;
border-radius: 8px;
}
.featured{
    text-align: center;
    padding-top: 100px;
    align-items: center;
    padding-bottom:200px ;

}
.featured-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 400px;
}
.featured-rectangle{
    width: 250px;
    height: 300px;
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: 20px;
    text-align: center;
}
.featured-text{
    color: #272727;
text-align: center;
font-size: 15px;
font-weight: 400;
line-height: 35px;
text-decoration-line: underline;
}
.featured-image{
    display: flex;
    justify-content: space-around;
    padding:0 200px;
}
.dealer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    background: rgba(229, 84, 115, 0.05);
}
.dealer-title{
    color: #272727;
font-size: 30px;
font-weight: 800;
}
.hot-deal-text{
    text-align: center;
}
.dealer-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 500px;
}
.instragram{
    text-align: center;
    padding-top: 100px;
    align-items: center;
    padding-bottom:200px ;
}
.instragram-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.instragram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 400px;

}
.instragram-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
    padding-top: 20px ;
}
.subscribe{
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}